.Header {
    background-color: navy;
    height: 100px;
}

.logo_left {
    width: 200px;
    float: left;
    filter: opacity(0.5) drop-shadow ( 0 0 white);
}

.logo_right {
    width: 200px;
    float: right;
    display: inline;
    white-space: nowrap;
}



span {
    font-size: xx-large;
    vertical-align: center;
    margin-top: 31px;
    color:  white;
    display: inline-block;

}