span {
    font-size: x-large;
    text-align: center;
    margin-left: 31px;
    margin-right: 31px;
    
    display: inline-block;

}

button {
    margin: 3px;
    height: 30px;
    background-color: navy;
    color: white;
    }

b {
    color: white;
}
