.sched{
    background-color: lightgray;
    color: navy;
    text-align: left;
    margin-left: 500px;
    border-style: solid;
    margin-right: 500px;  
}

.sched:hover {
    color: RED;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.form{
  height: 200px;
  width: 300px;
  position: absolute;
  
  top: 200px;
  right: 100px;
  background-color: lightgray;
  border-style: solid; 
}

.submit{
    margin: 10px;
    color: white;
    background-color: navy;
}

.teams{
    background-color: white;
    color: green;
    margin-top: 4px;
}
.team-score{
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 700px;
}

.score{
    position: absolute;
    left: 700px;
    display: inline-block;
    /* text-align: right; */
    /* margin-left: 100px; */
}

.result{
    background-color: lightgray;
    margin-top: 0px;
    font-weight: bold;
    font-size: small;
    color: navy;
    padding-bottom: 5px;
}

.logo{
    display: inline-block;
    
}

.logo img{
    height: 15px;
    width: 15px;
    margin-left: 10px;
    padding-top: 4px;
}

.form-input{
    height: 100px;
    margin-bottom: 20px;
    position: absolute;
    left: 100px;
}

.filter{
    background-color: navy;
    color: white;
}


